body {
    
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: arial;
    background-color: lightgrey;
    
    
}

#wrapper {
    
    margin: 0 auto;
    padding: 0;
    min-width: 980px;
    
}

header {    
    
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 40em;
    background-image: url("../img/R&W_Wedding_Photos_B&W-471.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size:cover;
    
}

header nav {
    
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    width: 100%;
    height: 5em;
    background-color: darkgrey;
    opacity: 0.7;
    text-align: center;
    position: fixed;
}

header nav a {
    
    margin: 0 auto;
    padding: 0;
    font-family: century gothic;
    text-decoration: none;
    margin: 0 auto;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 2%;
    
    color: #403F3D;
    font-size: 1.5em;
}

header nav ul li a:hover {
    
    color: #F35095;
}

header img {
    
    margin: 0 auto;
    padding: 0;
    width: 30%;
    float: right;
    margin-right: 10em;
    margin-top: 5em;
}

#aside {
    
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    width: 100%;
    height: 40em;
   
}

#pic {
    
    margin: 0 auto;
    padding: 0;
    margin-top: 5%;
    max-width: 100%;
    width: 50%;
    height: 35em;
    float: left;
    background-image: url("../img/book_front_colour_page_use2.jpg");
     background-repeat: no-repeat;
    background-position: center; 
    background-size: 70%;
    border-color: red;
    border-style: dashed;
    border-width: 1px;
    
}

#text {
    
     margin: 0 auto;
    padding: 0;
    margin-top: 5%;
    max-width: 100%;
    width: 40%;
    height: 30em;
    margin-right: 5em;       
    float: right;
     text-align: left;
    
}

#text h1 {
    
    font-family: Century Gothic;
    font-weight: 200;
    font-size: 1.5em;
    color: crimson;
}

#text p {
    
    font-family: Century Gothic;
    font-weight: 200;
    font-size: 1em;
    
    
}

section {
    
    margin: 0 auto;
    padding: 0 ;
    max-width: 100%;
    width: 100%;
    height: 50em;
    text-align: left;
    overflow:hidden;
    
}

#info-about {
    
    margin: 0 auto;
    padding: 0;
    height: 50em; /* or any value */
    overflow: hidden;   
}

#info-about a {
    
    text-decoration: underline;
    color: blue;
    font-size: 0.9em;
    font-family: Century Gothic;
    font-weight: 200;
}


#info-about h2 {
    
    font-family: Century Gothic;
    font-weight: 200;
    font-size: 1.5em;
    margin-left: 10%;
    margin-top: 5%;
}

#info-about h1 {
    
    margin-left: 5%;
    font-family: Century Gothic;
    font-weight: 200;
    font-size: 1em;
    color: crimson;
    
}

#info-about p {
    
    margin-left: 10%;
    font-size: 0.9em;
    font-family: Century Gothic;
    font-weight: 200;
    
}



#img {
    
    margin: 0 auto;
    padding:0 ;
    margin-top: 5%;
    max-width: 20000px;
    width: 100%;
    height: 40em;
    text-align: left;

    
}
    
#div1  {
    
    max-width: 100%;
    width: 100%;
    height: 40em;
    margin: 0 auto ;
    padding: 0;
    text-align: left;
     display: block;
    float: right;
    
       
}



#div2 {
    
   max-width: 100%;
    width: 100%;
    height: 40em;
    margin: 0 auto ; 
    padding: 0%;
    text-align: left;
    display: block;
    float: right;
    
}    

#img h1 {
    
    margin: 0 auto;
    padding: 0;
    margin-top: 2em;
    margin-left: 3em;
    font-family: Century Gothic;
    font-weight: 200;
    font-size: 2.5em;
    color: crimson;
}

#img ul {
    
    margin-left: 5em;
}

#img ul li {
    
    display: inline;
}

#img a {
    
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

#img2 {
    
    margin-left: 5em;
}

#img img {
    
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    width:12%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2em;
   
}

#contact {
    
    margin: 0 auto;
    padding: ;
    max-width: 100%;
    width: 100%;
    height: 40em;
    text-align: left;
    overflow: hidden;
}

#contact-image {
    
    margin: 0 auto;
    padding: 0;
    margin-top: 5em;
    max-width: 100%;
    width: 50%;
    height: 80%;
    float: left;
    text-align: left;
    background-image: url("../img/postbox.jpg");
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
    
}

#contact-info {
    
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    width: 50%;
    height: 100%;
    float: right;
    text-align: left;
    
    
}

#info {
    
    margin: 0 auto;
    padding:0;
    margin-top: 15%;
    max-width: 100%;
    width: 80%;
    height: 100%;
    float left;
    
}

#info h1 {
    
    font-family: Century Gothic;
    font-weight: 200;
    font-size: 2.5em;
    color: crimson;
}

#info p {
    
    font-family: Century Gothic;
    font-weight: 200;
    font-size: 1.5em;
    
}

#insta {
    
    margin: 0 auto;
    padding: 0;
    margin-left: 5em;
    max-width: 100%;
    width: 10%;
}

#mail {
    
    margin: 0 auto;
    padding: 0;
    margin-left: 5em;
    max-width: 100%;
    width: 10%;
    
}