  
body {
    margin: 0 auto;
    padding: 0;
    min-width: 320px;
    min-height: 568px;
    width: 100%;
    height: auto;  
     background-color: floralwhite;
    
}

header {
   margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 40em;
    background-image: url("../img/background-use.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

header nav {
    
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    width: 100%;
    height: auto;
    background-color: darkgrey;
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    text-align: center;
    position: fixed;
}

header nav a {
    
    margin: 0 auto;
    padding: 0;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    margin: 0 auto;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 2%;
    
    color: #403F3D;
    font-size: 160%;
}

header nav a:hover {
    
    color: #F35095;
}

header #logo {
    
    margin: 0 auto;
    padding: 0;
    width: 40%;
    min-width: 300px;
    margin-top: 10em;
}

#container {
    
    margin: 0 auto;
    padding: 0;
    min-width: 320px;
    min-height: 568px;
    width: 100%;
    height: 100%;
}

#about {
    
    margin: 0;
    padding: 0;
    width: 100%;
   min-height: 30em;
    max-height: 70em;
}

#about-img {
    
    margin: 0;
    padding: 0;
    width: 40%;
    float: left;
    margin-top: 4em;
    text-align: center;
}

#about-img img {
    
    margin: 0;
    padding: 0;
    width: 90%;
    min-width: 400px;
}

#about-info {
    
     margin: 0;
    padding: 0;
    width: 60%;
    float: left;
    margin-top: 3em;
    text-align: justify;
    -moz-text-align-last: center;
         text-align-last: center;
    
}

#about-info h1 {
    
    margin: 0 auto;
    padding: 0;
    font-size: 150%;
    font-weight: 200;
    font-family: 'Lato', sans-serif;
    
    
}
#about-info p {
 
    margin: 0 auto;
    padding: 0;
    font-size: 80%;
    font-family: 'Lato', sans-serif;
    width: 80%;
    margin-top: 1em;

}

#career {
    
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 50em;
    max-height: 90%;
    text-align: justify;
    
    
}

#cdiv {
 margin: 0 auto;
    padding: 0;
    width: 80%;
    text-align: justify;

}
#cdiv a {
    
    text-decoration: underline;
    color: blue;
    font-size: 90%;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
}


#cdiv h1 {
    
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 150%;
    padding-top: 2em;
     
}

#cdiv h2 {
    
    margin-left: 5%;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 120%;
    color: #F0788C;
    
}

#cdiv p {
    
    margin-left: 10%;
    font-size: 80%;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    
}

#gallery {
    
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 30em;
    max-height: auto;
    text-align: center;

}

 #div1  {
    
    max-width: 100%;
    width: 100%;
    margin: 0 auto ;
    padding: 0;
    text-align: left;
     display: block;
    

    
       
}

#div2 {
    
   max-width: 100%;
    width: 100%;
   
    margin: 0 auto ; 
    padding: 0%;
    text-align: left;
    display: none;
    
}    

.table {
    
    margin: 0 auto;
    padding: 0;
    min-width: 320px;
    min-height: 568px;
    width: 100%;
    height: auto;
    text-align: center;
    
    }

.row {
    
    margin: 0 auto;
    padding: 0;
    width: 100%;

    
}

.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    margin: 0 auto;
    float: left;
    width: 16%;
    margin-top: 5em;
   
    
}

#gallery img {
    
    margin: 0 auto;
    padding: 0;
    width: 90%;
    
    
    
}


#gallery h1 {
    
    margin: 0 auto;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 150%;
    margin-top: 2em;
    
    
}

#gallery h2 {
    
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 100%;
    color: #F0788C;
    
    
    
}

#gallery a {
    
    text-decoration: none;
    margin: 0;
    padding: 0;
    
}

#gallery a:hover{
    
    text-decoration: underline;
}

#contact {
    
    margin: 0 auto;
    padding: ;
    max-width: 100%;
    width: 100%;
    height: 45em;
    text-align: left;
    overflow: hidden;
}

#contact-image {
    
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 50%;
    float: left;
    text-align: center;
    padding-top: 4em;

       
}

#contact-image img {
    
    margin: 0;
    padding: 0;
    width: 55%;
    min-width: 250px;
    
}

#contact-info {
    
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    width: 50%;
    height: 100%;
    float: right;
    text-align: center;
    padding-top: 4em;
    
    
}

#contact-info h1 {
    
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 150%;
    color: #F0788C;
}

#contact-info p {
    
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 80%;
    
}

#insta {
    
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    width: 10%;
    min-width: 50px;
}

#mail {
    
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    width: 10%;
    min-width: 50px;
    
}

/* Medium Devices, Desktops */

    /* Large Devices, Wide Screens */

  /* Medium Devices, Desktops */
    
     /* Large Devices, Wide Screens */


    /* Large Devices, Wide Screens */

  /* Medium Devices, Desktops */

    /* Large Devices, Wide Screens */

    @media (max-width : 320px) {}

    @media (max-width : 375px) {

    #container {
        width: 100%;
    
    }
    
}

    @media (max-width : 414px) {

    #container {
        width: 100%;
    
    }

    nav {
        display: none;
    
    }

    header #logo {
        margin-right: 1em;
    
    }

    #about {
        width: 100%;
        min-height: 65em;
    
    }

    #about-info {
        text-align: center;
    
    }

    #gallery {
        width: 100%;
    
    }

    #contact {
        width: 100%;
        height: 55em;
    
    }
    
}

    @media (max-width : 768px) {

    #container {
        width: 100%;
    
    }

    header #logo {
        margin-right: 2em;
    
    }

    #gallery {
        width: 100%;
        min-height: 65em;
    
    }

    .row {
        margin: 0 auto;
        padding: 0;
        width: 90%;
        text-align: center;
    
    }

    .row:after {
        content: "";
        clear: both;
        display: block;
    
    }

    [class*="col-"] {
        float: left;
        width: 50%;
    
    }

    #gallery img {
        margin: 0;
        padding: 0;
        max-width: 150px;
    
    }

    #contact-image {
        width: 100%;
    
    }

    #contact-image img {
        width: 40%;
    
    }

    #contact-info {
        width: 100%;
    
    }
    
}

    @media (max-width : 920px) {

    #container {
        width: 100%;
    
    }

    #about {
        width: 100%;
        height: 56em;
    
    }

    #about-img {
        width: 100%;
        text-align: center;
    
    }

    #about-img img {
        width: 50%;
        min-width: 300px;
    
    }

    #about-info {
        width: 100%;
    
    }

    #gallery img {
        margin: 0;
        padding: 0;
        width: 90%;
    
    }
    
}

    @media (max-width : 1024px) {}

    @media (max-width : 1200px) {}